#### user define function

##### abs()    # absulute function is always positive  user enter negative value absulute function  change into positive

In [1]:
a=123
abs(a)

123

##### pow() give power    2**5

In [2]:
pow(2,5)

32

##### dir() directory

In [3]:
import math

In [4]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

##### round() roundup value

In [7]:
a=123.6
round(a)

124

#### id()  give memory location

In [8]:
b=345
id(b)

1947998607824

##### ord()  order function return ASKCII value

In [10]:
ord("a")

97

#### divmod()  give ans division as well as module

In [12]:
a=23
b=14
divmod(a,b)

(1, 9)

#### help()

In [13]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

#### user define function with the help od def:- def is a keyword,  def means defination

In [16]:
def sum1():
    a=23
    b=45
    c=a+b
    print(c)

In [17]:
sum1()

68

In [22]:
def mul1():
    x=78
    y=65
    z=x*y
    print(z)

In [23]:
mul1()

5070

#### absulute backend logic

In [24]:
def absolute(n):
    a=str(n)
    if "-" in a:
        print(a[1:])
    else:
        print(n)

In [25]:
absolute(-345)

345

#### Function without return and without parameter

In [26]:
def mult():
    x=23
    y=45
    z=x*y
    print(z)

In [27]:
mult()

1035

#### Function with return and without parameters

In [28]:
def mult():
    x=23
    y=45
    z=x*y
    return z

In [29]:
mult()

1035

#### function without return and with parameters

In [31]:
def mult(x,y):
    z=x*y
    print(z)

In [32]:
mult(34,56)

1904

#### function with return and with parameters

In [33]:
def mult(x,y):
    z=x*y
    return(z)

In [34]:
mult(67,78)

5226

In [37]:
def sqr():
    a=78
    b=a**2
    print(b)

In [38]:
sqr()

6084

#### with parameters

In [39]:
def sqr(n):
    m=n**2
    return m

In [40]:
sqr(87)

7569

In [41]:
def cube(n):
    m=n**3
    return m

In [42]:
cube(89)

704969

#### round()

In [1]:
def max_1():
    n=[1,2,3,4,5,6,897,89765,76543,789,98765,675]
    maximum=n[0]
    for num in n:
        if num>maximum:
            maximum=num
    print(maximum)

In [2]:
max_1()

98765

In [9]:
 def max_2():
    n=[1,2,3,4,5,6,897,89765,76543,789,98765,675]
    minimum=n[0]
    for num in n:
        if num<minimum:
            minimum=num
    print(minimum)

In [10]:
max_2()

1

### round

In [8]:
def rou(number):
    decimal_part=number-int(number)
    if decimal_part>0.5:
        return int(number)+1
    else:
        return int(number)

In [9]:
rou(78.9)

79

#### factorial

In [11]:
def facto(number):
    factorial=1
    for i in range(1,number+1):
        factorial=factorial*i
    print(factorial)

In [14]:
facto(5)

120

### Local scope and global scope

In [15]:
def l1():
    x=300       # is a local, means function ke ander define krna
    print(x)

In [16]:
l1()

300

In [17]:
y=300    #is a global function ke bahar define krna
def l2():
    print(y)

In [18]:
l2()

300

In [19]:
def arith():
    a=34
    b=34
    c=a+b
    print(c)
    def arith2():
        f=a*b
        print(f)
    arith2()

In [20]:
arith()

68
1156

In [21]:
a

45

In [18]:
a=45
b=34
def arith2():
        f=a*b
        print(f)

In [10]:
arith2()

1156

In [40]:
def arith3():
    global p,q,r
    p=89
    q=89
    r=p+q
    print(r)

In [45]:
arith3()

178

In [46]:
p

89

In [47]:
q

89

In [49]:
r

178

In [52]:
def add1():
    arith3()

In [53]:
add1()

178