#### lambda function

In [5]:
# lambda arguments:expressions
y=lambda x,y:x**y

In [6]:
y(7,8)

5764801

In [7]:
x=lambda a:a+10

In [8]:
x(6)

16

#### double , triplet

In [12]:
def f1(n):
    return lambda a:a*n
double=f1(2)
double(13)
triplet=f1(3)
triplet(78)

234

In [2]:
add=lambda x,y:x+y
add(7,8)

15

In [3]:
def add1(p,q):
    c=p+q
    return c

In [4]:
add1(23,56)

79

### filter()

In [1]:
l=(56,33,13,23,22,45,56,67,3)
x=tuple(filter(lambda a:a>57,l))
print(x)

(67,)

## map()

In [5]:
nums=[1,2,3,4,5,6,7,8,9]
square=list(map(lambda a:a*a,nums))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### reduce()

the reduce (fn,seq)fn is used to apply a perticular fn passed in its arguments to all of the
list element mentioned in the sequebce passed along.
- defined i9n "functools" modules
- 2 4 6 8
- 2+4 6 8
- 6+6 8
- 12+8
- 20 
- At first step 1st 2 element of a sequence are picked and the result is obtained.


Syntax:
-from functool import reduce
result= reduce(lambda x,y :expression ,iterable)

### Sum of list element using reduce fn

In [6]:
from functools import reduce
def myfn(a,b):
    return a*b

In [7]:
val=[1,2,3,4,5,6,7]    #1,2 are a,b
add=reduce(myfn,val)
add

5040

In [8]:
add_lambda=reduce(lambda a,b:a+b,val)

In [9]:
add_lambda

28

#### Finding max value in the list using reduce function

In [12]:
def maximum(a,b):
    if a>b:
        return a
    else:
        return b

In [13]:
val=[2,4,5,7,10,19,20,10]
max1=reduce(maximum,val)

In [14]:
max1

20

In [15]:
max_lambda=reduce(lambda a,b:a if a>b else b,val)

In [16]:
max_lambda

20

### product of numbers

In [17]:
numbers=[1,2,3,4,5]
product = reduce(lambda x,y:x*y,numbers)
print("product of element:",product)

product of element: 120